__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
venv*/
.mypy_cache/
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
.coverage
coverage.xml
nosetests.xml
pip-wheel-metadata/
__MACOSX/
.DS_Store
.env
.env.*
.django/*
db.sqlite3
*.sqlite3
.cache/
node_modules/
frontend/
staticfiles/
.git/
.gitignore
*.log
